@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slidein{
    to{
        transform: translateY(0%)
    }
}
@keyframes moveup{
    20% {
transform: translateY(-25%);
} 
40%{
    transform:translateY(-50%)
}
60%{
    transform:translateY(-75%)
}
95%{
    transform:translateY(0%)
}
}
.welcome{
    transform:translateY(150%);
    animation: slidein 3s forwards ease-in-out;
}
.dynamic{
    animation: moveup 8s forwards ease-in infinite;
}